/*seccion de landing*/

*{
box-sizing: border-box;
padding: 0;
margin: 0;

}

#top-menu{
    background-color: #FF293E;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 9px;
}

#logo1{
    background-image: url(/img/logoblanco.png);
    background-attachment: inherit;
    background-size: auto;
    background-position-x: center;
    height: 99px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

#textoinicial1{
text-align: center;

}

#textoinicial1 img{
position: relative;
padding-bottom: 2px;
}
#textoinicial1 h1{
    margin: auto;
    animation-composition: accumulate;
    size: a3;
    line-height: 1.5;
    padding-bottom: 11px;
    margin-left: 78px;
    margin-right: 78px;
    color: #FF293E;
}

#textoinicial1 p{
    line-height: 1.5;
    margin-left: 78px;
    font-size: large;
    margin-right: 78px;
}

.Boton1{
    background-color: #FE293E;
    color: white;
    border-radius: 15px;
    margin: auto;
    width: 49%;
    font-size: large;
    margin-left: 78px;
    margin-right: 78px;
}
/*seccion de landing page*/
/*seccion de login*/
.navbar{
background-color: #FE293E;
height: 40px;
display: flex;
justify-content: center;
position: sticky;
top: 0;
z-index: 999;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
width: 100%;
}

#logolgin{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

#logologin2{
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
}

#formulariolog{
    background-color: #D9D9D9;
    width: 85%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    border-radius: 10px;
    margin-top: 50px;
}

/* fin seccion de login*/


/* mobile*/
@media screen and (max-width: 428px){
    /*seccion de landing*/
#top-menu{
    background-color: #FF293E;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 9px;
}

#logo1{
    background-image: url(/img/logoblanco.png);
    background-attachment: inherit;
    background-size: auto;
    background-position-x: center;
    height: 99px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

#textoinicial1{
text-align: center;

}

#textoinicial1 img{
position: relative;
padding-bottom: 2px;
}
#textoinicial1 h1{
    margin: auto;
    animation-composition: accumulate;
    size: a3;
    line-height: 1.5;
    padding-bottom: 11px;
    margin-left: 78px;
    margin-right: 78px;
    color: #FF293E;
}

#textoinicial1 p{
    line-height: 1.5;
    margin-left: 78px;
    font-size: large;
    margin-right: 78px;
}

.Boton1{
    background-color: #FE293E;
    color: white;
    border-radius: 15px;
    margin: auto;
    width: 49%;
    font-size: large;
    margin-left: 78px;
    margin-right: 78px;
}
/*seccion de landing page*/

/*seccion de login*/

/* fin de seccion login*/

}

