/*seccion de landing*/
@font-face{
    font-family:'Inter';
    src: url(../Fonts/Inter-Regular.ttf);
}
*{
box-sizing: border-box;
padding: 0;
margin: 0;

}

#top-menu{
    background-color: #FF293E;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 9px;
}

#logo1{
    background-image: url(/img/logoblanco.png);
    background-attachment: inherit;
    background-size: auto;
    background-position-x: center;
    height: 99px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

#textoinicial1{
text-align: center;

}

#textoinicial1 img{
position: relative;
padding-bottom: 2px;
}
#textoinicial1 h1{
    margin: auto;
    animation-composition: accumulate;
    size: a3;
    line-height: 1.5;
    padding-bottom: 11px;
    margin-left: 78px;
    margin-right: 78px;
    color: #FF293E;
}

#textoinicial1 p{
    line-height: 1.5;
    margin-left: 78px;
    font-size: large;
    margin-right: 78px;
}

.Boton1{
    background-color: #FE293E;
    color: white;
    border-radius: 15px;
    margin: auto;
    width: 49%;
    font-size: large;
    margin-left: 78px;
    margin-right: 78px;
}
/*seccion de landing page*/
/*seccion de login*/
.navbar{
background-color: #FE293E;
height: 40px;
display: flex;
justify-content: center;
position: sticky;
top: 0;
z-index: 999;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
width: 100%;
}



#logolgin{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#logologin2{
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
}

#formulariolog{
    background-color: #d9d9d96b;
    width: 85%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    border-radius: 25px;
    margin-top: 50px;
    font-family: 'Inter';
    text-align: center;
}

#formulariolog h1{
    TEXT-ALIGN: center;
    color: black;
    font-weight: bold;
    font-family: 'Inter';
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.logininput {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    border: none;
    background: transparent;
    border-bottom: groove;
    border-color: black;
    border-bottom-width: thin;
    color: #0f0e0e;
    margin-top: 10px;

}
.botonlog{
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
    background-color: #fe293edb;
    color: white;
    margin-top: 40px;
    border-radius: 50px;
    border-width: thin;
}
#formulariolog a{
    color: #FE293E;
    font-size: 1.25rem;
    text-decoration: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.formulariolog1{
    display: none;
}
.formulariolog1.activado{
    display: block;
}

#formulariolog h2{
    font-size: 1.25rem;
    margin-top: 25px;
}

.foologin {
    margin-top: 20px; 
    display: flex;
    justify-content: center;
    width: 80%;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.botonestabs{
    text-align: center;
    background-color: #fe293edb;
    color: white;
    border-width: thin;
    width: 100%;
    height: 90px;
}
.botonestabs.cli.active{
    background-color: #C5FEF3;
    color: #0f0e0e;
    transition: ease 0.5s;
}
.botonestabs.moto.active{
    background-color: #C5FEF3;
    color: #0f0e0e;
    transition: ease 0.5s;
}
.botonestabs.cli{
    border-top-left-radius: 25px;
}
.botonestabs.moto{
    border-top-right-radius: 25px;
}
/* fin seccion de login*/

/*seccion de registro*/
#formularioreg{
    background-color: #d9d9d96b;
    width: 95%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    border-radius: 25px;
    margin-top: 50px;
    font-family: 'Inter';
    text-align: center;
}

.navbarreg{
    background-color: #FE293E;
    color: white;
    height: 80px;
    display: grid;
    grid-template-areas: "i h1 h2";
    position: sticky;
    grid-auto-flow: column;
    align-items: center;
    top: 0;
    z-index: 999;
    border-bottom-left-radius: 15px;
    justify-content: space-between;
    border-bottom-right-radius: 15px;
    width: 100%;
    }
.navbarreg h1{
    text-align: center;
    font-size: 1.9rem;

}
.fa-arrow-left {
    font-size: xx-large;
    margin-left: 7px;
    width: 80%;
}
.reginput{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: left;
    border: none;
    background: transparent;
    border-bottom: groove;
    border-color: black;
    border-bottom-width: thin;
    color: #0f0e0e;
    margin-top: 10px;
}
.telefonoregistro{
    display: grid;
    width: 100%;
    grid-auto-flow: column;
}
.fa-square-font-awesome-stroke{
    font-size: xx-large;
    padding-top: 50%;
    padding-bottom: 50%;   
}
#telefonocodigo{
    padding-top: 50%;
    padding-bottom: 50%;
    font-size: 1rem;
}
#regcheck{

}
#checkbx{
    width: 100%;
}
#terminosycond{
    text-decoration: none;
    color: black;
}
#terminosycond:hover{
    text-decoration: underline;
}

/*fin de registro*/

/* mobile*/
@media screen and (max-width: 428px){
    /*seccion de landing*/
#top-menu{
    background-color: #FF293E;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 9px;
}

#logo1{
    background-image: url(/img/logoblanco.png);
    background-attachment: inherit;
    background-size: auto;
    background-position-x: center;
    height: 99px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

#textoinicial1{
text-align: center;

}

#textoinicial1 img{
position: relative;
padding-bottom: 2px;
}
#textoinicial1 h1{
    margin: auto;
    animation-composition: accumulate;
    size: a3;
    line-height: 1.5;
    padding-bottom: 11px;
    margin-left: 78px;
    margin-right: 78px;
    color: #FF293E;
}

#textoinicial1 p{
    line-height: 1.5;
    margin-left: 78px;
    font-size: large;
    margin-right: 78px;
}

.Boton1{
    background-color: #FE293E;
    color: white;
    border-radius: 15px;
    margin: auto;
    width: 49%;
    font-size: large;
    margin-left: 78px;
    margin-right: 78px;
}
/*seccion de landing page*/

/*seccion de login*/

/* fin de seccion login*/

}

