.nav-principal{
    /*display: flex;*/
    
    background-color: #FE293E;
    color: white;
    height: 125px;
    border-radius: 0 0 30px 30px;
    position: absolute;
    width: 100%;
}

.barra-busqueda{
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: white;
    height: 40px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    position: relative;
    padding: 10px;
}

#icono-busqueda{
    color: black;
}

#flecha-atras{
    font-size: 35px;
    padding: 10px 0px 0px 10px;
}

.barra-filtros{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    color: black;
    height: 50px;
    margin-top: 135px;
    padding: 10px;
}

.filtros{
    color: black;
    padding: 0px 5px 0px 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.filtros-border{
    border:  1px solid black;
    border-radius: 7px;
}

.seccion-card-empresas{
    position: absolute;
    margin-top: 385px;
}

.seccion-scroll-empresas{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    position: absolute;
    margin-top: 185px;
    padding: 0px 10px 0px 10px
}

.seccion-scroll-empresas::-webkit-scrollbar{
    display: none;
}

.imagen-logo-empresa{
    width: 85px;
}

.card-empresa{
    display: flex;
    width: 100%;
}

.card-empresa .nombre-empresa{
    display: flex;
    justify-content: space-between;
}

.card-empresa .tiempo-envio{
    display: flex;
    justify-content: space-between;
}

.margenes{
    padding-left: 15px;
    padding-right: 15px;
}

.estrella{
    color: #ffca0f; 
    padding-right: 5px;
    padding-left: 5px;
}

.card-empresa-scroll{
    margin-right: 10px;
    width: 260px;
    height: 190px;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    background-color: #f7f7f7;
}

.seccion-scroll-empresas .card-empresa-scroll #banner-empresa .img-banner{
    width: 258px;
    height: 125px;
    padding: 8px;
    border-radius: 20px;
}

.seccion-scroll-empresas .card-empresa-scroll .banner-nombre-empresa{
    font-size: 2.5rem;
    font-family: initial;
    color: #fe293e;
    text-shadow: 0px 12px 7px #a79f9f;
}

/*Estilos para los restaurantes*/



#contenedor-imagen-restaurante, .imagen-restaurante{
    width: 100%;
    height: 175px;
}

.seccion-imagen .flecha-retroceder{
    position: absolute;
    margin-top: -150px;
    margin-left: 15px;
    font-size: 2.5rem;
    color: #fff;
}

.logo-empresa{
    width: 85px;
    position: relative;
    margin-top: -30px;
}

.banner-nombre-empresa{
    font-size: 2.5rem;
    font-family: initial;
    color: #fe293e;
    text-shadow: 0px 12px 7px #a79f9f;
}

#tiempo-costo-categoria .tiempo-envio{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 1.2rem;
    /*font-weight: bold;*/
    font-family: initial;
}

.estilo-contenedor-recomendaciones{
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 0px;
}

.recomendaciones-div{
    padding: 10px 20px 0px;
    font-size: 1.4rem;
    font-family: initial;
    color: #780101;
}

.imagen-recomendacion{
    width: 100%;
    padding: 10px 10px 0px;
    border-radius: 20px 20px 0px 0px;
}

.nombre-promo-recomendada{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    font-family: initial;
}

.descripcion-recomendacion{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
    font-family: initial;
    margin-top: -15px;
}

.informacion-recomendacion{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px;
    border-radius: 10px 10px;
    border: 1px solid #a79f9f;
    box-shadow: 0px 5px 5px #a79f9f;
}

.section-producto{
    margin-left: 10px;
    margin-right: 10px;
}

.card-producto{
    display: flex;
    border: 1px solid #a79f9f;
    background-color: #f7f7f7;
    padding: 7px;
    border-radius: 5px;
    margin-top: 10px;
}

.img-producto{
    width: 100px;
    border-radius: 10px;
}

.estilo-precio{
    font-size: 1.2rem; 
    color: #fe293e;
}

.scroll-producto{
    height: 245px;
    overflow-y: scroll;
}

.scroll-producto::-webkit-scrollbar{
    display: none;
}

